[submodule "PhoenixOS-Bootloader"]
	path = PhoenixOS-Bootloader
	url = https://github.com/Vitriol1744/PhoenixOS-Bootloader
[submodule "boot"]
	path = boot
	url = https://github.com/Vitriol1744/PhoenixOS-Bootloader
