/.vscode/
/build/
/serial.log
/qemu.log

__pycache__/

iso_root/

*.iso

*.log

CMakeCache.txt

cmake_install.cmake

CMakeFiles/3.25.0/

CMakeFiles/

.cmake/api/v1/query/

.cmake/api/v1/reply/

*.xml

.ninja_deps

.ninja_log

*.ninja
