[submodule "ThirdParty/limine"]
	path = ThirdParty/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v5.x-branch-binary
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ThirdParty/parallel-hashmap"]
	path = ThirdParty/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "ThirdParty/libstdcxx-headers"]
	path = ThirdParty/libstdcxx-headers
	url = https://github.com/ilobilo/libstdcxx-headers
[submodule "ThirdParty/smart_ptr"]
	path = ThirdParty/smart_ptr
	url = https://github.com/ilobilo/smart_ptr
